# build artifacts
/build*/

# editors and IDEs
*~
*.sw[a-z]
.kdev?/
*.kdev?
.vscode

# python
*.pyc
__pycache__/

# file system artifacts
.DS_Store
.nfs*

# Local external checkouts (e.g. reference source trees)
/external/

# Developer's notes
/dev-notes/

# Agent's notes
/agent-notes/
