[Desktop Entry]
Type=Application
Name=Amrvis2
GenericName=AMR Visualization
Comment=Demand-driven AMR visualization
Exec=amrvis2 %F
Icon=amrvis2
StartupWMClass=amrvis2
Terminal=false
Categories=Science;DataVisualization;
